.place__author-title {
    
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #AAAAAA;
}

@media screen and (min-width:426px) {
    .place__author-title:nth-child(2){
        grid-row: span 3;
    }
}