.photo-grid {
    max-width: 1184px;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    margin: 0 0 100px;
}

@media screen and (max-width: 1200px) {
    .photo-grid {
        max-width: 986px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (min-width: 769px) and (max-width: 987px) {
    .photo-grid {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px){
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        margin: 0 0 88px;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        max-width: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: repeat(8, 1fr);
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: 288px;
        margin: 0 16px 62px;
        grid-template-columns: 288px;
        grid-template-rows: repeat(8, 1fr);
    }
}
