.photo-grid {
    min-width: 1184px;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    margin: 0 0 100px;
}

@media screen and (max-width: 768px) {
    .photo-grid {
        min-width: 720px;
        grid-template-columns: repeat(2, 352px);
        justify-content: center;
    }

}

@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: 288px;
        margin: 0 16px 62px;
        grid-template-columns: 288px;
        grid-template-rows: repeat(8, 1fr);
    }   
}