.places {
    max-width: 984px;
    margin: 0 auto 84px;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 785px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 768px;
        margin: 0 0 120px;
    }
}

@media screen and (max-width: 425px) {
    .places {
        max-width: 425px;
        margin: 0 0 64px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        max-width: 320px;
    }
}
