.cover__button {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    padding: 13px 0;
    width: 137px;
    text-decoration: none;
    background: #0278fe;
    border-radius: 4px;
    transition: background 0.25s linear;
}

.cover__button:hover {
    background: #0063d2;
}
