.intro__container {
    width: 785px;
    /* display: grid;
    grid-template-columns: 785px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'title .'
        'quote .'
        'author .'
        'paragraph .';*/
}

@media screen and (max-width: 768px) {
    .intro__container {
        max-width: 720px;
    }
}


@media screen and (max-width: 320px) {
    .intro__container {
        max-width: 320px;
        align-self: center;
    }   
}