.place__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
    overflow: hidden;
}

.place__paragraph:first-of-type {
    margin-bottom: 25px;
}

.place__paragraph:nth-of-type(3) {
    margin-top: 25px;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
        line-height: 163%;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
        margin: 0;
    }
    .place__paragraph:first-of-type {
        margin-bottom: 25px;
    }
    .place__paragraph:nth-of-type(3) {
        margin-top: 25px;
    }
}