.place__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #ffffff;
    margin: 0;
}

.place__paragraph:first-child {
    margin-bottom: 25px;
}

.place__paragraph:nth-child(3) {
    margin-top: 25px;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .place__paragraph {
        max-width: 100%;
        
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
    }
}
