.lead__subtitle {
    max-width: 720px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    margin: 0 0 64px;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        margin: 0 24px 36px;
    }
}

@media screen and (max-width: 425px) {
    .lead__subtitle {
        max-width: 415px;
        font-size: 25px;
        line-height: 125%;
        margin: 0 10px 25px;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
        margin: 0 16px 40px;
        font-size: 16px;
    }
}
