.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    max-width: 1184px;
    min-height: 740px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../../images/cover-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover {
        min-width: 100%;
        margin: 0;
    }
}
@media screen and (max-width: 768px) {
    .cover {
        min-height: 746px;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        min-height: 254px;
    }
}

