.place__author {
    max-width: 456px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: author;
    grid-column: 2;
    grid-row: 1;
    row-gap: 8px;
}

@media screen and (max-width: 768px) {
    .place__author {
        max-width: 352px;
    }
}

@media screen and (max-width: 425px) {
    .place__author {
        max-width: 380px;
        grid-area: author;
        margin: 0 16px;
    }
}

@media screen and (max-width: 320px) {
    .place__author {
        max-width: 288px;
        grid-area: author;
        margin: 0 16px;
    }
}