.cover__overlay {
    position: absolute;
    box-sizing: content-box;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(42, 44, 47, 0.3);
    display: flex;
    justify-content: center;
    transition: background-color 0.25s linear;
}
@media screen and (min-width: 769px) {
    .cover:hover .cover__overlay {
        background-color: rgba(42, 44, 47, 0.8);
    }
}

/*@media screen and (max-width: 1024px) {
    .cover__overlay {
        min-height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        min-width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .cover__overlay {
        min-height: 256px;
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        min-height: 256px;
    }
}*/
