.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: max-content min-content 1fr;
    grid-gap: 48px 40px;
    grid-template-areas:
        "title aurhor"
        "img paragraph"
        "button paragraph";
    margin: 0 0 80px;
}

.place:last-of-type {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 100vw;
        grid-template-columns: 340px 1fr;
        grid-template-rows: max-content 340px;
    }
}


@media screen and (min-width: 321px) and (max-width: 767px) {
    .place {
        max-width: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, max-content) max-content;
        grid-gap: 20px;
        grid-template-areas:
            "title"
            "author"
            "img"
            "paragraph"
            "button";
        margin: 0 0 40px;
        justify-items: center;
    }

    .place:last-of-type {
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .place {
        grid-template-columns: 320px;
        grid-template-rows: repeat(2, max-content) 320px;
        grid-gap: 30px;
        grid-template-areas:
            "title"
            "author"
            "img"
            "paragraph"
            "button";
        margin: 0 0 50px;
    }
    .place:last-of-type {
        margin: 0;
    }
}
