.footer {
    display: flex;
    justify-content: center;
    margin: 92px auto 0;
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 60px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 64px auto 0;
    }
}
