.header__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    margin: 90px 0 32px 0;
    max-width: 793px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .header__title {
        max-width: 720px;
        margin: 0 24px 32px;
    }
}

@media screen and (max-width:425px) {
    .header__title {
        
    }
}

@media screen and (max-width: 320px) {
    .header__title {
        max-width: 288px;
        margin: 0 16px 16px;

        font-size: 40px;
        line-height: 110%;
        text-align: center;

    }
}