.place__description {
    grid-row: span 3;
}

@media screen and (max-width: 425px) {
    .place__description {
        max-width: 425px;
        grid-area: paragraph;
        margin: 0 16px;
    }
}

@media screen and (max-width: 320px) {
    .place__description {
        max-width: 288px;
        grid-area: paragraph;
        margin: 0 16px;
    }
}
