.place__description {
    grid-row: 2/-1;
    grid-area: paragraph;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    .place__description {
        max-width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .place__description {
        max-width: 425px;
        grid-area: paragraph;
        margin: 0 16px;
    }
}

@media screen and (max-width: 320px) {
    .place__description {
        max-width: 288px;
    }
}
