.intro__quote-author {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 142%;
    text-align: right;
    margin: 0 0 32px 0;
    max-width: 720px;
    grid-area: author;
}

@media screen and (max-width:425px) {
    .intro__quote-author {
        max-width: 415px;
    }
}

@media screen and (max-width: 320px) {
    .intro__quote-author {
        font-size: 24px;
        line-height: 142%;
        max-width: 288px;
    }
}